@import url('https://raw.githubusercontent.com/Androser420/system24-rewrite/refs/heads/main/src/main.css');

:root {
  --layout: old; /* new | old */
  --titlebar: old; /* new | old | hidden */
  --unrounding: on /* on | off */
}
