/**
 * @name system24-rewrite
 * @description spotify-text inspired discord theme.
 * @author smg8, refact0r
 * @version 2.0
 * @invite nz87hXyvcy
 * @website https://github.com/Androser420/system24-rewrite
 * @source https://github.com/Androser420/system24-rewrite/blob/main/theme.css
 * @authorId 1106858419861864489
*/

@import url(https://raw.githubusercontent.com/Androser420/system24-rewrite/refs/heads/main/src/main.css);

:root {
  --layout: old; /* new | old */
  --titlebar: old; /* new | old | hidden */
  --unrounding: on /* on | off */
}
