@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.cdnfonts.com/css/asciid');

:root {
  --font: "DM Mono";
  font-weight: 300;
  letter-spacing: -.05ch;
  --label-font-weight: 500;
  --corner-text: "system24-rewrite";
  --pad: 16px;
  --txt-pad: 10px;
  --panel-roundness: 0;
  --bg-0: oklch(19% 0 0);
  --bg-1: oklch(23% 0 0);
  --bg-2: oklch(27% 0 0);
  --bg-3: oklch(31% 0 0);
  --hover: oklch(54% 0 0/0.1);
  --active: oklch(54% 0 0/0.2);
  --selected: var(--active);
  --txt-dark: var(--bg-0);
  --txt-link: var(--cyan);
  --txt-0: oklch(90% 0 0);
  --txt-1: oklch(80% 0 0);
  --txt-2: oklch(60% 0 0);
  --txt-3: oklch(40% 0 0);
  --acc-0: var(--purple);
  --acc-1: var(--purple-1);
  --acc-2: var(--purple-2);
  --border-width: 2px;
  --border-color: var(--bg-3);
  --border-hover-color: var(--acc-0);
  --border-transition: 0.2s ease;
  --online-dot: var(--green);
  --dnd-dot: var(--pink);
  --idle-dot: var(--yellow);
  --streaming-dot: var(--purple);
  --mention-txt: var(--acc-0);
  --mention-bg: color-mix(in oklch, var(--acc-0), transparent 90%);
  --mention-overlay: color-mix(in oklch, var(--acc-0), transparent 90%);
  --mention-hover-overlay: color-mix(in oklch, var(--acc-0), transparent 95%);
  --reply-overlay: var(--active);
  --reply-hover-overlay: var(--hover);
  --pink: oklch(73% 0.12 0);
  --pink-1: oklch(63% 0.12 0);
  --pink-2: oklch(53% 0.12 0);
  --purple: oklch(73% 0.12 300);
  --purple-1: oklch(63% 0.12 300);
  --purple-2: oklch(53% 0.12 300);
  --cyan: oklch(73% 0.12 200);
  --yellow: oklch(78% 0.12 80);
  --green: oklch(73% 0.12 160);
  --green-1: oklch(63% 0.12 160);
  --green-2: oklch(53% 0.12 160);
  --font-primary: var(--font), "gg mono", monospace;
  --font-display: var(--font), "gg mono", monospace;
  --font-code: var(--font), "gg mono", monospace
}

:scope {
  container-name: scope
}

.app__160d8 {
  background: var(--bg-0)
}

h3[data-text-variant="heading-xxl/medium"] {
  font-family: asciid;
  font-size: 50px;
  font-weight: 400
}

::placeholder {
  color: var(--txt-3) !important
}

::selection {
  background: var(--txt-1);
  color: var(--bg-0)
}

.visual-refresh {

  &.theme-dark,
  &.theme-darker,
  &.theme-light,
  &.theme-midnight,
  .theme-dark,
  .theme-darker,
  .theme-light,
  .theme-midnight {
    --app-border-frame: var(--border-color);
    --background-base-low: var(--bg-1);
    --background-base-lower: var(--bg-1);
    --background-base-lowest: var(--bg-1);
    --background-feedback-critical: var(--pink-2);
    --background-floating: var(--bg-2);
    --background-mentioned: var(--mention-bg);
    --background-mentioned-hover: var(--mention-hover-overlay);
    --background-mod-strong: var(--bg-3);
    --background-mod-subtle: var(--bg-1);
    --background-modifier-accent: var(--bg-3);
    --background-modifier-active: var(--active);
    --background-modifier-hover: var(--hover);
    --background-modifier-selected: var(--selected);
    --background-primary: var(--bg-0);
    --background-secondary: var(--bg-1);
    --background-secondary-alt: var(--bg-1);
    --background-surface-high: var(--bg-1);
    --background-surface-higher: var(--bg-2);
    --background-surface-highest: var(--bg-3);
    --background-tertiary: var(--bg-0);
    --bg-brand: var(--brand-500);
    --bg-mod-subtle: var(--bg-2);
    --bg-surface-raised: var(--bg-1);
    --blurple-50: var(--brand-500);
    --border-faint: transparent;
    --border-normal: var(--border-color);
    --border-subtle: transparent !important;
    --brand-360: var(--txt-link);
    --brand-500: var(--acc-0);
    --brand-530: var(--acc-0);
    --brand-560: var(--acc-1);
    --brand-600: var(--acc-2);
    --button-danger-background: var(--red-430);
    --button-danger-background-active: var(--red-530);
    --button-danger-background-disabled: var(--red-430);
    --button-danger-background-hover: var(--red-500);
    --button-outline-danger-background: var(--bg-1);
    --button-outline-danger-background-active: var(--red-530);
    --button-outline-danger-background-hover: var(--red-500);
    --button-outline-danger-border: var(--red-400);
    --button-outline-danger-border-active: var(--red-530);
    --button-outline-danger-border-hover: var(--red-500);
    --button-outline-danger-text: var(--txt-1);
    --button-outline-danger-text-active: var(--text-dark);
    --button-outline-danger-text-hover: var(--txt-dark);
    --button-secondary-background: var(--bg-2);
    --button-secondary-background-active: var(--txt-3);
    --button-secondary-background-disabled: var(--bg-1);
    --button-secondary-background-hover: var(--bg-3);
    --button-secondary-text: var(--txt-1);
    --card-primary-bg: var(--bg-1);
    --divider-subtle: var(--border-color);
    --green-360: var(--green);
    --green-430: var(--green);
    --green-500: var(--green-1);
    --green-530: var(--green-2);
    --header-primary: var(--txt-1);
    --header-secondary: var(--txt-2);
    --icon-primary: var(--txt-2);
    --icon-secondary: var(--txt-2);
    --icon-tertiary: var(--txt-2);
    --input-background: var(--bg-0);
    --input-border: unset;
    --interactive-active: var(--txt-1);
    --interactive-hover: var(--txt-1);
    --interactive-muted: var(--txt-3);
    --interactive-normal: var(--txt-2);
    --modal-background: var(--bg-1);
    --modal-footer-background: var(--bg-0);
    --primary-500: var(--bg-2);
    --primary-800: var(--bg-0);
    --red-400: var(--pink);
    --red-430: var(--pink);
    --red-460: var(--pink-1);
    --red-500: var(--pink-1);
    --red-530: var(--pink-2);
    --scrollbar-auto-thumb: var(--bg-1);
    --scrollbar-auto-track: transparent;
    --scrollbar-thin-thumb: var(--bg-1);
    --scrollbar-thin-track: transparent;
    --status-danger: var(--pink);
    --text-brand: var(--brand-500);
    --text-danger: var(--pink-1);
    --text-default: var(--text-normal);
    --text-feedback-critical: var(--pink);
    --text-link: var(--txt-link);
    --text-muted: var(--txt-3);
    --text-normal: var(--txt-1);
    --text-positive: var(--green);
    --text-primary: var(--txt-1);
    --text-secondary: var(--txt-2);
    --twitch: var(--acc-1);
    --user-profile-border: var(--border-color);
    --user-profile-overlay-background: var(--background-secondary);
    --white: var(--bg-0);
    --white-500: var(--bg-0)
  }

  .grabber_a562c8,
  .headerEllipseBackdrop_f37cb1,
  .headerGlass_f37cb1 {
    display: none
  }

  #vc-spotify-player,
  .applicationStore_f07d62,
  .barButtonAlt__0f481,
  .channelAttachmentArea_b77158,
  .channelChatWrapper_cb9592,
  .channelTextArea_f75fb0,
  .chatContent_f75fb0,
  .chat_f75fb0,
  .children__9293f::after,
  .container__01ae2,
  .container__133bf,
  .container__2637a,
  .container__551b0,
  .container__7d20c,
  .container_c8ffbb,
  .container_fb64c9,
  .contentRegionScroller__23e6b,
  .headerEllipseForeground_f37cb1,
  .homeWrapper__0920e,
  .layer__960e4,
  .member_c8ffbb,
  .members_c8ffbb,
  .nowPlayingColumn__133bf,
  .outer_bf1984,
  .panels_c48ade,
  .privateChannels__35e86,
  .resizeHandle__01ae2,
  .scroller__99e7c,
  .scroller_c880e8,
  .searchBar__5ec2f,
  .searchResultsWrap_a9e706,
  .shopScroll__6db1d,
  .shop__08415,
  .shop__6db1d,
  .sidebar_c48ade::after,
  .stackedBars__74017,
  .standardSidebarView__23e6b,
  .tabBody__133bf,
  .themedBackground__74017,
  .themed__9293f,
  .vc-spotify-lyrics,
  .wrapper_cb9592,
  .wrapper_d852db,
  .wrapper_ef3116,
  .wrapper_fc8177 {
    background: none
  }

  .bg__960e4,
  .container__01ae2.floating__01ae2,
  .content__908e2,
  .content_f75fb0>.outer_c0bea0:not([style*=hsla])> :first-child {
    background: var(--bg-0)
  }

  .childWrapperNoHoverBg__6e9f8,
  .circleIconButton__5bc7e {
    background: var(--bg-1);

    &.selected__5bc7e {
      background: var(--bg-brand);
      color: var(--white-500)
    }
  }

  .sectionDivider__35e86,
  .sectionDivider__629e4,
  .separator_aa63ab,
  .separator_b3f026 {
    background: var(--border-normal)
  }

  .mentioned__5126c::before {
    background: var(--mention-txt)
  }

  [style="color:rgb(88,101,242);"] {
    color: var(--acc-0) !important
  }

  .container__87bf1 {
    background-color: var(--txt-2) !important;

    .slider__87bf1 {
      >rect[fill='white'] {
        fill: var(--bg-0) !important
      }

      path {
        fill: var(--txt-2) !important
      }
    }

    &.checked__87bf1 {
      background-color: var(--green) !important;

      .slider__87bf1>svg>path {
        fill: var(--green) !important
      }
    }
  }

  .bannerColor_fb7f94,
  .bannerVisible_f37cb1 .name_f37cb1,
  .childWrapperNoHoverBg__6e9f8,
  .circleIconButton__5bc7e,
  .controlIcon_cf09d8,
  .iconBadge__650eb,
  .images-dark[style*=hsla] .menuItemColor_af7fb7,
  .images-dark[style*=hsla] .themeColor_fb7f94,
  .images-light[style*=hsla] .themeColor_fb7f94,
  .wrapper_cf09d8 {
    color: var(--txt-1)
  }

  .images-light[style*=hsla] {
    --background-surface-highest: color-mix(in oklab, var(--neutral-1) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));

    .defaultColor__4bd52,
    .pronounsText__63ed3,
    .text-sm\/normal_cf4812,
    .userTagDiscriminator__63ed3,
    .userTagUsername__63ed3 {
      color: var(--txt-dark) !important
    }

    .dotSpacer__63ed3 {
      background: var(--txt-dark)
    }

    .menuItemColor_af7fb7 {
      color: var(--txt-3)
    }
  }

  .images-dark[style*=hsla] {
    --background-surface-highest: color-mix(in oklab, var(--neutral-73) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));

    .editor_a99829 {
      --channel-text-area-placeholder: var(--txt-1)
    }
  }

  .slider__87bf1>rect[fill=white] {
    fill: var(--txt-dark)
  }

  .sectionDivider__35e86,
  .sectionDivider__629e4,
  .separator_b3f026 {
    height: var(--border-width)
  }

  .channelTextArea__74017,
  .chat_f75fb0[data-has-border=true],
  .container__01ae2,
  .container__133bf,
  .container__9293f,
  .container_c8ffbb,
  .header__551b0,
  .header_f37cb1,
  .homeWrapper__0920e,
  .input__0f084,
  .lookFilled__3f413,
  .panels_c48ade,
  .quickswitcher_ac6cb0,
  .scrollableContainer__74017,
  .scroller__7d20c,
  .searchBar__35e86,
  .searchHeader_f3b986,
  .searchResult__02a39,
  .sidebarList_c48ade,
  .stackedBars__74017:not(:last-child) {
    border: unset
  }

  .applicationStore_f07d62,
  .bar_c38106,
  .callContainer_cb9592,
  .container__133bf,
  .container__2637a,
  .container__551b0,
  .container_a592e1,
  .content_f75fb0>.outer_c0bea0,
  .form_f75fb0,
  .guilds_c48ade,
  .itemCard__7e549,
  .membersWrap_c8ffbb,
  .messagesWrapper__36d07,
  .panels_c48ade,
  .privateChannels__35e86,
  .searchResultsWrap_a9e706,
  .shop__6db1d,
  .subtitleContainer_f75fb0 {
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--panel-roundness);
    transition: border-color var(--border-transition);

    &:hover {
      border-color: var(--border-hover-color);

      &::after {
        color: var(--border-hover-color)
      }
    }
  }

  .itemCard__7e549:hover {
    border-color: var(--txt-2) !important
  }

  .embedFull__623de {
    border-bottom: transparent;
    border-right: transparent;
    border-top: transparent
  }

  .divider__5126c {
    border-width: var(--border-width)
  }

  .backdrop__8a7fc,
  .members_c8ffbb,
  .scroller__23746,
  .scroller__36d07,
  .scroller__629e4 {
    border-radius: var(--panel-roundness)
  }

  .animatedContainer_f37cb1 {
    border-radius: var(--panel-roundness) var(--panel-roundness) 0 0
  }

  .container__9293f,
  .title_f75fb0 {
    padding: var(--space-xs)
  }

  .scroller__7d20c {
    padding: var(--space-xs) !important
  }

  .container__2637a,
  .container__551b0,
  .form_f75fb0,
  .privateChannels__35e86 {
    padding: unset
  }

  .container_c8ffbb,
  .content_f75fb0>.outer_c0bea0,
  .searchResultsWrap_a9e706 {
    margin-left: var(--pad)
  }

  .container_c8ffbb,
  .content_f75fb0>.outer_c0bea0,
  .searchResultsWrap_a9e706,
  .shop__6db1d {
    height: auto
  }

  .container__37e49 {
    height: var(--custom-channel-textarea-text-area-height)
  }

  .applicationStore_f07d62,
  .bar_c38106,
  .chat_f75fb0,
  .container__133bf,
  .container_a592e1,
  .shop__6db1d {
    margin: var(--pad)
  }

  .channelTextArea_f75fb0.channelTextArea__74017,
  .scroller__99e7c {
    margin: unset
  }

  .content_c48ade {
    margin-top: calc(var(--pad) + var(--border-width)*2)
  }

  .form_f75fb0 {
    margin-top: var(--pad)
  }

  .tutorialContainer__1f388 {
    margin-top: var(--txt-pad)
  }

  .subtitleContainer_f75fb0 {
    margin-bottom: var(--pad)
  }

  .container__2637a,
  .container__551b0,
  .privateChannels__35e86 {
    margin: var(--pad) 0 calc(var(--custom-app-panels-height) + var(--pad)*2)
  }

  .wrapper_ef3116 {
    margin: var(--pad) var(--pad) calc(var(--custom-app-panels-height) + var(--pad)*2)
  }

  .slateTextArea_ec4baf {
    margin-left: unset
  }

  .animatedContainer_f37cb1 {
    margin: var(--txt-pad);
    width: calc(100% - var(--txt-pad)*2)
  }

  .panels_c48ade {
    bottom: var(--pad);
    left: var(--pad);
    width: calc(100% - var(--pad))
  }

  .form_f75fb0 {
    display: grid
  }

  .page_c48ade {
    overflow: hidden
  }

  :has(.typing_b88801) {

    .jumpToPresentBar__0f481,
    .scroller__36d07 {
      bottom: var(--custom-chat-input-margin-bottom)
    }
  }

  .typing_b88801 {
    bottom: 0;
    left: 0;
    margin: calc(var(--custom-chat-input-margin-bottom)/-1 + var(--pad)/-1 + var(--border-width)*2/-1) var(--space-xs);
    order: -1;
    overflow: hidden;
    position: relative;
    right: 0
  }

  .bar_c38106::after,
  .container__133bf::after,
  .container__2637a::after,
  .container__551b0::after,
  .container_a592e1::after,
  .content_f75fb0>.outer_c0bea0::after,
  .form_f75fb0::after,
  .membersWrap_c8ffbb::after,
  .messagesWrapper__36d07::after,
  .panels_c48ade::after,
  .privateChannels__35e86::after,
  .searchResultsWrap_a9e706::after,
  .subtitleContainer_f75fb0::after,
  .wrapper_ef3116::after {
    background-color: var(--bg-0);
    color: var(--txt-3);
    display: block;
    font-weight: var(--label-font-weight);
    left: 8px;
    max-width: fit-content;
    overflow: hidden;
    padding: 0 4px;
    position: absolute;
    right: var(--space-xs);
    text-overflow: ellipsis;
    top: -10px;
    transition: color var(--border-transition);
    z-index: 100
  }

  .bar_c38106::after {
    content: var(--corner-text);
    justify-self: center
  }

  .container__133bf,
  .privateChannels__35e86 {
    min-height: 0;
    min-width: 0
  }

  .container__551b0 {
    position: relative;

    &::after {
      content: "discover"
    }
  }

  .chat_f75fb0,
  .container__133bf,
  .container__2637a,
  .cooldownWrapper_b21699,
  .privateChannels__35e86,
  .searchResultsWrap_a9e706,
  .wrapper_ef3116 {
    overflow: visible
  }

  .wrapper_ef3116::after {
    content: "guild"
  }

  .privateChannels__35e86::after {
    content: "dms"
  }

  .container__2637a::after {
    content: "server"
  }

  .panels_c48ade::after {
    content: "user"
  }

  .subtitleContainer_f75fb0::after {
    content: "channel"
  }

  .messagesWrapper__36d07::after {
    content: "messages"
  }

  .form_f75fb0::after {
    content: "input"
  }

  .membersWrap_c8ffbb::after {
    content: "members"
  }

  .searchResultsWrap_a9e706::after {
    content: "search"
  }

  .content_f75fb0>.outer_c0bea0::after {
    content: "profile"
  }

  .container__133bf {
    position: relative;

    &::after {
      content: "friends"
    }
  }

  .container_a592e1 {
    padding: var(--space-xs);
    position: relative;

    &:has(.outerContainer_e1147e)::after {
      content: "apps"
    }

    &:has(.container_d08938)::after {
      content: "servers"
    }

    &:has(.container__955a3)::after {
      content: "quests"
    }
  }
}

@property --unrounding {
  syntax: "on | off";
  inherits: false;
  initial-value: off
}

@container scope style(--unrounding: on) {
  body {
    --panel-roundness: 0 !important
  }

  *,
  .avatar_c19a55,
  .embedFull__623de,
  .embedImage__623de img,
  .embedMedia__623de,
  .expandedFolderBackground__48112,
  .imageWrapper_af017a,
  .input__0f084,
  .lookFilled__3f413,
  .wrapper_ef3116 foreignObject,
  ::-webkit-scrollbar-thumb {
    border-radius: unset !important
  }

  .mask__68edb foreignObject,
  .wrapper__44b0c foreignObject {
    mask: unset
  }
}

@property --old-layout {
  syntax: "on | off";
  inherits: false;
  initial-value: off
}

@container scope style(--old-layout: on) {
  body {
    --custom-app-top-bar-height: var(--size-xl);
    --guildbar-avatar-size: 48px;
    --old-icon-size: 30px
  }

  .visual-refresh {
    .wrapper_ef3116 {
      foreignObject {
        border-radius: 50%;
        mask: unset;
        transition: border-radius 0.1s ease-out;
        width: var(--guildbar-avatar-size) !important
      }

      .scroller_ef3116> :nth-child(3),
      foreignObject {
        height: var(--guildbar-avatar-size) !important
      }

      .selected__91816 foreignObject,
      .selected_e5445c foreignObject,
      foreignObject:hover {
        border-radius: 25%;
        transition: border-radius 0.1s ease-out
      }

      .stack_dbd263 {
        overflow: hidden scroll
      }

      ::-webkit-scrollbar {
        display: none
      }
    }

    .bar_c38106 {
      border: unset;
      margin: unset;
      padding: unset;

      &::after {
        display: none
      }

      &::before {
        color: var(--txt-2);
        content: var(--corner-text);
        font-weight: 500;
        margin-left: var(--space-sm)
      }
    }

    .trailing_c38106 {
      gap: unset
    }

    .expandedFolderBackground__48112 {
      left: var(--size-sm) !important
    }

    .isExpanded__48112>ul,
    .sectionDivider__35e86 {
      height: unset !important
    }

    .svg_cc5dd2 {
      contain: unset
    }

    .childWrapper__6e9f8>svg {
      height: var(--old-icon-size);
      width: var(--old-icon-size)
    }

    .circleIcon__5bc7e {
      height: var(--size-24);
      width: var(--size-24)
    }

    .gradientBackground__11664,
    .title__85643,
    .winButtonsWithDivider_c38106::before {
      display: none
    }

    .content_c48ade {
      margin-top: unset
    }

    .scrollerSpacer__36d07 {
      height: var(--old-icon-size)
    }

    :has(.typing_b88801) {
      .scrollerSpacer__36d07 {
        height: calc(var(--old-icon-size) - var(--custom-chat-input-margin-bottom))
      }
    }

    .wrapper_ef3116 {
      margin: var(--pad)
    }

    .panels_c48ade {
      left: calc(var(--custom-guild-list-width) + var(--pad)*2 + var(--border-width)*2);
      width: calc(100% - var(--custom-guild-list-width) - var(--pad)*2 - var(--border-width)*2)
    }

    .wrapper__44b0c.avatar__37e49 {
      scale: 0.8
    }

    .enabled__67645:hover,
    .gradientBackground__11664,
    .redGlow__67645 {
      background: none !important
    }

    .lowerBadge_cc5dd2,
    .upperBadge_cc5dd2 {
      border-radius: 50%;
      box-shadow: 0 0 0 var(--size-4) var(--bg-0)
    }
  }
}
